<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
</p>

<p>
  <strong>Subscription required:</strong>
  <%= @video.subscription_required %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @video.boolean %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
