<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
</p>

<p>
  <strong>Subscription required:</strong>
  <%= @video.subscription_required %>
</p>

<% if @video.subscription_required %>
  <% if @current_user %>
    <%= video_player(@video) %>
  <% else %>
    <div>
      <p><a href="<%= login_url %>?video_id=<%= @video.id %>">Login</a></p>
      <p><a href="#">Subscribe</a>
    </div> 
  <% end %>
<% else %>
    <%= video_player(@video) %>
<% end %>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
